:root {
    font-size: 16px;
}

body {
    background: #1A120B;
}

#head {
    text-align: center;
    font-size: 2em;
    background-color: #000;
    color: white;
    padding: 20px 0;
}

#todoinput {
    padding: 10px 15px;
}

.newList {
    list-style: none;
    color: White;
}

.btn-warning {
    flex: 5%;
    margin-right: 10px;
}

.btn-danger {
    flex: 5%;
}

.itemList {
    display: flex;
    align-items: center;
}

.newList {
    flex: 80%;
}

li {
    padding: 8px 10px;
    border-radius: 5px;
    margin-right: 4px;
}
